/*@import "/src/styles/fonts.css";*/


/*전체 컨테이너*/
.success-container {
    height: 100%;
}

/*센터 영역*/
.success-center {
    display: flex;
    background-color: none; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

/*메인 콘텐츠*/
.success-center p {
    /*font-family: 'Anek Devanagari';*/
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 2%;
    height: 26px;
    margin-top: 207px;
    margin-left: 36px;
    color: #030303;
    white-space: nowrap;
}

.success-center h1 {
    /*font-family: 'Anek Devanagari';*/
    font-weight: 600;
    font-size: 36px;
    line-height: 46.8px;
    height: 47px;
    margin-top: 12px;
    margin-left: 34px;
    margin-bottom: 435px;
    color: #030303;
    white-space: nowrap;
}

/*버튼*/
.skip-btn {
    background: none;
    color: #545454;
    border: none;
    width: 57.5px;
    height: 18px;
    margin-top: 17px;
    margin-bottom: 36px;
    margin-left: 168px;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
