.top-practice-room {
  width: 393px;
  height: 260px;
  position: relative;
  z-index: 10; /* 메인 이미지의 z-index 설정 */
}
.main-image {
  width: 393px;
  height: 260px;
}
.back-button {
  width: 36px;
  height: 36px;
  top: 49px;
  left: 16px;
  position: absolute;
  z-index: 20;
  cursor: pointer;
}

.gap {
  height: 10px;
  background-color: #F2F2F2;
  width: 394px;
  margin: 0;
}
.margin-bottom {
  width: 394px;
  height: 70px;
  background-color: #F2F2F2;
}

/* 전체 컨데이너 */
.practice-room-container {
  display: flex;
  flex-direction: column;
  position: relative; /* 위치를 상대적으로 변경 */
  margin-top: -53px;
  z-index: 20; /* .top-practice-room 위로 배치 */
}

/* 맨 위 정보 칸 */
.practice-room-info {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  width: 394px;
  height: 126px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #FFFFFF;
}
.title-and-like {
  display: flex;
  align-items: center; /* 수평 정렬 */
  justify-content: space-between; /* 제목과 좋아요 버튼 사이 간격 조정 */
  width: 100%; /* 부모 요소를 꽉 채움 */
}
.title-and-like h2 {
  font-family: 'Pretendard-SemiBold';
  font-size: 20px;
  letter-spacing: 2%;
  margin-top: 39px;
  margin-left: 21px;
}
.like-button {
  width: 72px;
  height: 30px;
  margin-top: 34px;
  margin-right: 21.58px;
  border: 1px solid #DCDCDC; /* 테두리 색상 */
  border-radius: 20px;
  display: flex;
  gap: 6px;
  cursor: pointer;
  background-color: #FFFFFF;
  justify-content: space-between;
}
.heart-icon {
  width: 14px;
  height: 12px;
  margin-top: 9px;
  margin-left: 13px;
  border: 1.5px;
  transition: transform 0.2s ease; /* 클릭 시 애니메이션 */
}
.like-count {
  width: 27px;
  height: 14px;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  color: #7D7D7D;
  margin-top: 6.5px;
  margin-right: 5px;
}
.practice-room-address {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  width: 188.2px;
  height: 16px;
  margin-left: 21px;
  margin-top: 18px;
  margin-bottom: 33px;
}
.address-point-icon {
  width: 11.2px;
  height: 16px;
  margin-right: 6px;
  margin-bottom: 2px;
}
.address-text {
  width: 150px;
  height: 13px;
  font-family: 'Pretendard-Regular';
  font-size: 12px;
  color: #545454;
  line-height: 12px;
  letter-spacing: 2%;
  margin-right: 15px;
}
.address-arrow-icon {
  width: 4px;
  height: 8px;
  margin-bottom: 2px;
}

/*연습실 방 칸*/
.practice-room {
  display: flex;
  flex-direction: column;
}
.practice-room-image {
  width: 360px;
  height: 120px;
  margin-top: 25px;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.time-graph-container{
  width : 385px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 17px;
  margin-top: 10px;
  height : 42px;
}

.time-graph {
  display: flex;
  white-space: nowrap;
  width: 1500px;
  -ms-overflow-style: none; /* IE 및 Edge에서 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  flex-direction: column;
}

.time-graph::-webkit-scrollbar {
  display: none; /* Chrome, Safari에서 스크롤바 숨기기 */
}

.time-container {
  width: 1500px;
  height: 14px;
  display: flex;
  flex-direction: row;
}

.time-item {
  width : 21px;
  height : 14px;
  margin-right: 30px;
  font-size: 10.77px;
  line-height: 14.01px;
  font-family: 'Pretendard-Regular';
}

.container{
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.time-slot {
  width: 24px;
  height: 16.96px;
  background-color: #F2F2F2;
  
}
.time-slot.available {
  background-color: #80CDFF;
}
.time-graph-divider-white {
  position: absolute;
  width: 1px;
  height : 16.96px;
  border-left: 1px dashed #ffffff; /* 세로 점선 */
  background-color: transparent;
  left: 0;
}
.time-graph-divider-black {
  position: absolute;
  width: 1px;
  height : 24px;
  background-color: #A9A9A9;
  left: 0;
}

.graph-container{
  display: flex;
  flex-direction: row;
  width: 1500px;
  height: 25px;
  align-items: center;
}

.room-name-and-price {
  display: flex;
  justify-content: space-between; /* 제목과 좋아요 버튼 사이 간격 조정 */
  width: 100%; /* 부모 요소를 꽉 채움 */
  margin-bottom: 24px;
}
.room-name-and-price h3{
  width: 26px;
  height: 16px;
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2%;
  margin-top: 35px;
  margin-left: 22px;
}
.room-name-and-price h4 {
  width: 23px;
  height: 10px;
  font-family: 'Pretendard-Regular';
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 2%;
  text-align: center;
  color: #545454;
  margin-top: 39px;
  margin-left: 219px;
}
.room-name-and-price h5 {
  width: 66px;
  height: 21px;
  font-family: 'Pretendard-Regular';
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2%;
  text-align: center;
  margin-top: 31px;
  margin-left: 7.09px;
  margin-right: 2.41px;
}
.room-name-and-price h6 {
  width: 12px;
  height: 13px;
  font-family: 'Pretendard-Regular';
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 2%;
  text-align: center;
  margin-top: 37px;
  margin-right: 17.5px;
}